<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Edit <%= resource_name.to_s.humanize %></h3>
  </div>



  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
 <div class="panel-body">
<div class="form-group">
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control"  %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  </div>
  
  <div class="form-group">
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>
  </div>

  <div class="form-group">
  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
    </div>
    
  <div class="form-group">  
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %></div>
   </div>
  <div>
  <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3>Din konto</h3>
</div>

<div class="panel-body">
<p>Vil du gerne annulere din konto? <%= button_to "Annuler min konto", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
</div>
<%= link_to "< Gå Tilbage", :back %>
</div>

<% end %>
