<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>

      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  
  
  <div class="form-group">  
    <div class="field">
      <%= f.label :description, class: "" %><br>
    </div>
    <div class="form-group">
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Jeg er færdig", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
